@model TiendaPagos.Models.Cliente.ClienteDetailModel

<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-10">
            <h1>@Model.PrimerNombre @Model.SegundoNombre</h1>
        </div>
        <div class="col-2">
            <a asp-controller="Cliente" asp-action="Index" class="pull-right"><img title="profile image" class="img-fluid rounded-circle" src="~/images/avatar-default.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted">Información de contacto</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.DisplayNameFor(c => c.Direccion)</strong></span>: @Model.Direccion</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.DisplayNameFor(c => c.Celular)</strong></span>: @Model.Celular</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item text-muted">Información General<i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.DisplayNameFor(c => c.TotalComprasHechas)</strong></span>: @Model.TotalComprasHechas</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.DisplayNameFor(c => c.PendientePorPagar)</strong></span>: @Model.PendientePorPagar.ToString("c")</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.DisplayNameFor(c => c.TotalPagado)</strong></span>: @Model.TotalPagado.ToString("c")</li>
            </ul>
        </div>
        <!--/col-3-->
        <div class="col-lg-9">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link" href="#home" data-toggle="tab">Resumen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settings" data-toggle="tab">Actualizar Datos</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <table class="table table-hover text-lg-center">
                            <thead class="">
                                <tr>
                                    <th># Venta</th>
                                    <th>Producto</th>
                                    <th>Cantidad Comprada</th>
                                    <th>Estado de Venta</th>
                                    <th>Total Pagado</th>
                                    <th>Pendiente por Pagar</th>
                                    <th>Fecha de Venta</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                @foreach (var pedidos in Model.DetallePedidos)
                                {
                                    <tr>
                                        <td>@pedidos.Id</td>
                                        <td>@pedidos.NombreProducto</td>
                                        <td>@pedidos.CantidadProducto</td>
                                        <td>@pedidos.NombreEstado</td>
                                        <td>@pedidos.TotalPagado.ToString("c")</td>
                                        <td>@pedidos.PendientePorPagar.ToString("c")</td>
                                        <td>@pedidos.FechaNovedad.ToShortDateString()</td>
                                        <td class="">
                                            <form>
                                                <a class="btn btn-default" aria-label="Left Align" asp-controller="Catalogo" asp-action="UpdateVenta" asp-route-id="@pedidos.Id">
                                                    <span class="fas fa-edit fa-sm" aria-hidden="true"></span>
                                                </a>
                                            </form>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->

                    <hr>

                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="settings">
                    <hr>
                    <form asp-controller="Cliente" asp-action="ActualizarCliente" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label class="h4" for="primerNombreId">@Html.DisplayNameFor(c => c.PrimerNombre)</label>
                                    <input asp-for="PrimerNombre" type="text" class="form-control" id="primerNombreId" placeholder="Nombres">
                                </div>
                                <div class="col-6">
                                    <label class="h4" for="segundoNombreId">@Html.DisplayNameFor(c => c.SegundoNombre)</label>
                                    <input asp-for="SegundoNombre" type="text" class="form-control" id="segundoNombreId" placeholder="Apellidos">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="h4" for="direccionId">@Html.DisplayNameFor(c => c.Direccion)</label>
                                    <input asp-for="Direccion" type="text" class="form-control" id="direccionId" placeholder="Dirección">
                                </div>
                                <div class="col-6">
                                    <label class="h4" for="celularId">@Html.DisplayNameFor(c => c.Celular)</label>
                                    <input asp-for="Celular" type="text" class="form-control" id="celularId" placeholder="Celular">
                                </div>
                            </div>
                            @Html.HiddenFor(c => c.Id)
                            <div class="row text-center">
                                <div class="col-12">
                                    <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-check fa-xs"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->