@model TiendaPagos.Models.Catalogo.ProductosDetailModel

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">Detalle de Productos</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="~/@Model.UrlImagen" />
            </div>
        </div>
        <div class="col-md-8 detailProductos">
            <div>
                <p id="itemNombreProducto">@Model.NombreProducto</p>
                <p id="itemDescripcion">@Model.DescripcionProducto</p>
                @if (Model.Capacidad == 0)
                {
                    <p id="itemCapacidad">@Model.Capacidad</p>
                }
                else
                {
                    <p id="itemCapacidad">@Model.Capacidad ml</p>
                }

                <p id="itemCosto">$@Model.Costo</p>
                <p id="itemCantidadProductos">@Model.CantidadProductos unidades.</p>
                <p id="itemEstado">@Model.Estado</p>

                @if (Model.CantidadProductos > 0)
                {

                    <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalogo" asp-action="AñadirRegistro" asp-route-id="@Model.IdProducto">Añadir Venta</a></p>

                }
                <p><a class="btn btn-lg btn-info" role="button" asp-controller="Catalogo" asp-action="AñadirInventario" asp-route-id="@Model.IdProducto">Añadir Inventario</a></p>

            </div>
        </div>
    </div>
</div>

@if (Model.registroPedidosProductos.Any())
{
    <div class="jumbotron" id="tablaDetalleVentas">
        <table class="table table-bordered tabla-general" id="catalogoIndexTabla">
            <thead>
                <tr>
                    <th>Id Venta</th>
                    <th>Cliente</th>
                    <th>Cantidad Comprada</th>
                    <th>Estado de Venta</th>
                    <th>Total Pagado</th>
                    <th>Pendiente por Pagar</th>
                    <th>Fecha de Venta</th>
                    <th>Actualizar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venta in Model.registroPedidosProductos)
                {
                <tr class="ventaRow">
                    <td class="">@venta.Id</td>
                    <td class="">@venta.Cliente.PrimerNombre  @venta.Cliente.SegundoNombre</td>
                    <td class="">@venta.CantidadProducto</td>
                    <td class="">@venta.EstadosPedidos.Nombre</td>
                    <td class="">@venta.TotalPagado.ToString("c")</td>
                    <td class="">@venta.PendientePorPagar.ToString("c")</td>
                    <td class="">@venta.FechaNovedad.ToString("d")</td>
                    <td class="">
                        <form>
                            <a  class="btn btn-default" aria-label="Left Align" asp-controller="Catalogo" asp-action="UpdateVenta" asp-route-id="@venta.Id">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </form>
                    </td>


                  
                </tr>
                }
            </tbody>
        </table>

    </div>

}
