@model TiendaPagos.Models.Catalogo.VentasUpdateModel


<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">Actualizar Venta #@Model.Id</h2>
    </div>
</div>


<form asp-controller="Catalogo" asp-action="añadirAbonoVenta" method="post">
    <div class="row">
        <div class="col-xs-6">
            <div class="span7">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Información del Cliente</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>Nombre</strong>  : @Model.Cliente.PrimerNombre @Model.Cliente.SegundoNombre <br> <br>
                            <strong>Celular</strong> : @Model.Cliente.Celular <br><br>
                            <strong>Dirección</strong>  :@Model.Cliente.Direccion <br><br>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="span7">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Información de la venta</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>Fecha de venta</strong>   : @Model.FechaNovedad.ToString("d")<br> <br>
                            <strong>Producto</strong>  : @Model.nombreProducto<br><br>
                            <strong>Cantidad</strong> : @Model.CantidadProducto unidades.<br><br>
                            <strong>Valor Total</strong> : @Model.ValorTotalCompra.ToString("c")<br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th><h4>Fecha Pago</h4></th>
                <th><h4>Abonado</h4></th>
                <th><h4>Pendiente</h4></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trazaAbono in Model.registroPedidosDetalle)
            {
                <tr>
                    <td>@trazaAbono.FechaNovedad.ToString("d")</td>
                    <td class="text-right">@trazaAbono.TotalPagado.ToString("c")</td>
                    <td class="text-right">@trazaAbono.PendientePorPagar.ToString("c")</td>
                </tr>
            }
            <tr>
                <td>@DateTime.Now.ToString("d")</td>
                <td class="text-right"><input min="0" max="@Model.PendientePorPagar" type="number" id="abonarId" placeholder="Cantidad a Abonar" onchange="ActualizarDatosVenta(@Model.PendientePorPagar);" asp-for="AbonoPedido" /></td>
                <td class="text-right" id="pendientePagarId">@Model.PendientePorPagar.ToString("c")</td>
            </tr>
        </tbody>
    </table>
    <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
            <p>
                <strong>
                    Abonado : <br>
                    Pendiente : <br>
                    Valor Total :<br>
                </strong>
            </p>
        </div>
        <div class="col-xs-2">
            <p>
                <strong>
                    @Model.TotalPagado.ToString("c") <br>
                    @Model.PendientePorPagar.ToString("c")<br>
                    @Model.ValorTotalCompra.ToString("c") <br>
                </strong>
            </p>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-10">
            @Html.HiddenFor(registroPedido => registroPedido.Id)
            <p><button type="submit" class="btn btn-sm btn-success" role="button">Agregar Abono</button></p>
        </div>
    </div>
</form>
